*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

nav {
    background: #333;
    color: #f4f4f4;
    font-weight: bold;
}

nav h1 {
    padding: 25px 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
    padding-bottom: 20px;
}

nav a {
    color: #f4f4f4;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    color: #f3593c;
}

